#header-logo {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.connect a img {
    width: 54px;
}

.thumbnail .caption {
    padding: 0px;
}

.product-list .product-thumb a {
    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
}

.product-list .product-thumb a:hover .caption {
    opacity: 1;
}

.product-list .product-thumb a:hover img {
    opacity: 1;
    transform: scale(1.15,1.15);
    -webkit-transform: scale(1.15,1.15);
    -moz-transform: scale(1.15,1.15);
    -ms-transform: scale(1.15,1.15);
    -o-transform: scale(1.15,1.15);
}

.product-list .product-thumb img {
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 4;
}

.product-list .product-thumb .caption {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 0.45s ease-in-out;
    -moz-transition: all 0.45s ease-in-out;
    -o-transition: all 0.45s ease-in-out;
    -ms-transition: all 0.45s ease-in-out;
    transition: all 0.45s ease-in-out;
}

.product-list .product-thumb img {
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.product-list .product-thumb .blur {
    background-color: rgba(0,0,0,0.65);
    height: 300px;
    width: 300px;
    z-index: 5;
    position: absolute;
}

.product-list .product-thumb .caption-text h3 {
    text-transform: uppercase;
}

.product-list .product-thumb .caption-text {
    z-index: 10;
    color: #fff;
    position: absolute;
    width: 300px;
    height: 300px;
    text-align: center;
    top:100px;
}
